#idea 文件
.idea/
log/


#构建文件
ugk-agent/ugk-agent
ugk-api/ugk-api
ugk-agent-manager/ugk-agent-manager
ugk-game/game-galactic-kittens/galactic-kittens-match/galactic-kittens-match
ugk-gate/ugk-gate
ugk-lobby/ugk-lobby
ugk-login/ugk-login
ugk-message/proto/c#

# unity
ugk-game/game-galactic-kittens/galactic-kittens-game/Logs/
ugk-game/game-galactic-kittens/galactic-kittens-game/Library/
ugk-game/game-galactic-kittens/galactic-kittens-game/Temp/
ugk-game/game-galactic-kittens/galactic-kittens-game/UserSettings/
ugk-game/game-galactic-kittens/galactic-kittens-game/Build/
ugk-game/game-galactic-kittens/galactic-kittens-game/.idea/
ugk-game/game-galactic-kittens/galactic-kittens-game/obj/
ugk-game/game-galactic-kittens/galactic-kittens-game/Assembly-CSharp.csproj

